/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
/*@import "~@fortawesome/fontawesome-free/css/all.css";*/
@import '~font-awesome/css/font-awesome.css';

body{
    background:  #E5E5E5;
}
html, body { height: 100%; }
body { margin: 0; font-family: poppins; }
